.MainPlayer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: purple;
  transition: bottom 0.5s ease-in-out;

  &.open {
    bottom: 0;
  }
}

.open-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.artWork {
  display: flex;
  justify-content: center;
  width: calc(100vw - 32px);

  height: 50vh;
  margin: 1rem auto 0;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
