.MainPlayer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: -100vh;
  left: 0;
  right: 0;
  height: 100%;
  background-color: purple;
  transition: bottom 0.5s ease-in-out, opacity 0.2s ease-in-out 0.2s;
  opacity: 0;

  &.open {
    bottom: 0;
    opacity: 1;
    transition-delay: 0.2s;
  }
}
.audio {
  display: flex;
  justify-content: center;
}
.open-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.artWork {
  display: flex;
  justify-content: center;
  width: calc(100vw - 32px);

  height: 50vh;
  margin: 1rem auto 0;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.progressBar {
  margin: 0 1rem 1rem;

  :global {
    // .single-thumb .range-slider__thumb[data-lower] {
    //   width: 0;
    // }
    // .single-thumb .range-slider__range {
    //   border-radius: 6px;
    // }

    // .range-slider {
    //   height: 4px;
    //   background: blue;
    //   border-radius: 4px;
    //   margin-bottom: 1rem;
    // }

    // .range-slider .range-slider__range {
    //   left: 0 !important;
    //   background: #ff7300;
    // }
  }

  .horizontal-slider {
    width: 100%;
    height: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .example-thumb {
      top: -5px;
      width: 10px;
      height: 10px;
      line-height: 38px;

      background-color: black;
      border: 3px solid #fff;
      border-radius: 50rem;
      z-index: 40;
      cursor: pointer;

      transition: width height 0.3 linear;

      &:global(.active) {
        top: -7.5px;
        width: 15px;
        height: 15px;
      }
    }

    .example-track {
      top: 0;
      height: 4px;
      background-color: rgb(255, 81, 0);

      &[class$="-1"] {
        background-color: #fff;
      }
    }
  }
}

.actionButtons {
  display: flex;
  gap: 1rem;
  align-items: center;

  button {
    background: #ffffff62;
    flex: 1 0;
    border: 0;
    padding: 0.7rem;
    border-radius: 50rem;
    transition: background-color 0.4s linear;
    cursor: pointer;

    &.sm {
      padding: 0.5rem;
    }

    &:hover {
      background: #ffffffd8;
    }

    &:focus {
      outline: 0;
    }
  }
}
