/* Import normalize.css */

/* Define variables */
$main-color: #4caf50;

/* Define styles for the audio player */
.audio-listing {
  //   :global {
  //     @import "~/normalize.css/normalize.css";
  //   }

  --audio-element-background-color: #f0f0f0;
  --audio-element-progress-color: #333;
  --audio-element-progress-hover-color: #666;
  --audio-element-progress-height: 0.5rem;

  display: flex;
  // flex-direction: column;
  // align-items: start;
  // max-width: 500px;
  gap: 1rem;

  padding: 1rem;
  border-bottom: 1px solid #cccc;

  h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 17.5px;
    font-weight: 600;
  }

  p {
    font-size: 15px;
    margin-bottom: 19px;
    margin-top: 0;
    color: #888;
    font-weight: 400;
  }

  .progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0;
    font-size: 12px;

    & > div {
      border-radius: 3px;
      width: 100%;
      max-width: 94px;
      margin-right: 12px;
      height: 6px;
      position: relative;
      overflow: hidden;
    }

    .current-time,
    .duration {
      font-weight: bold;
    }

    .progress {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ddd;
    }

    &::-webkit-progress-bar {
      background-color: #ddd;
    }

    &::-webkit-progress-value,
    &::-moz-progress-bar {
      background-color: $main-color;
    }
  }

  .listing {
    cursor: pointer;
    // background-color: #ffffff0e;
    transition: background-color 0.5s linear;
    &:hover {
      h2 {
        text-decoration: underline;
      }
      // background-color: #fed064;
    }
  }
}
