/* Import normalize.css */

/* Define variables */
$main-color: #4caf50;

/* Define styles for the audio player */
.audio-player {
  //   :global {
  //     @import "~/normalize.css/normalize.css";
  //   }

  --audio-element-background-color: #f0f0f0;
  --audio-element-progress-color: #333;
  --audio-element-progress-hover-color: #666;
  --audio-element-progress-height: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 500px;
  cursor: pointer;
  background-color: #ffffff0e;
  transition: background-color 0.5s linear;
  padding: 1rem;

  border-bottom: 1px solid #cccc;

  &:hover {
    background-color: #fed064;
  }

  h2 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    margin-bottom: 0;
    color: #888;
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 10px;
    font-size: 12px;

    .current-time,
    .duration {
      font-weight: bold;
    }

    .progress {
      width: 100%;
      max-width: 188px;
      margin-right: 24px;
      height: 11px;
      background-color: #ddd;
      border-radius: 4px;

      &::-webkit-progress-bar {
        background-color: #ddd;
      }

      &::-webkit-progress-value {
        background-color: $main-color;
      }

      &::-moz-progress-bar {
        background-color: $main-color;
      }
    }
  }
}
