$input-border: #ccc;
$input-bg-color: #fff;
$input-border-radius: 5px;

.input-container {
  --input-border-color: #ccc;
  --input-bg-color: #fff;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 5px;
    margin: auto;
  }

  input {
    padding: 10px;
    border-radius: $input-border-radius;
    border: 1px solid var(--input-border-color, $input-border);
    font-size: 16px;
    outline: none;
    background-color: var(--input-bg-color, $input-bg-color);
    margin: auto;

    &[type="number"] {
      width: 100px;
    }

    &[type="text"] {
      width: 300px;
    }
  }

  .button {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
